$family-custom: "Red Hat Display"
$family-system: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"

$family-cjk: PingFang TC,Hiragino Sans GB W3,Noto Sans CJK TC,Source Han Sans TW,Source Han Sans SC,Droid Sans Fallback,Microsoft YaHei,Microsoft JhengHei,"\\5fae软雅黑",Noto Sans TC,StXiHei,"\\534e文细黑"
$family-sans: $family-custom, $family-system, $family-cjk

$header-height: 120px